<?xml version="1.0" encoding="utf-8"?>
<extensions>
	<details>
		<title lang="EN">Radio Browser (hjelev)</title>
	</details>
	<plugins>
		<plugin name="RadioBrowser" version="0.1.4" minTarget="8.0" maxTarget="9.*">
			<title lang="EN">Radio Browser</title>
			<desc lang="EN">Browse and play internet radio stations from the community-driven Radio Browser directory (api.radio-browser.info). Search, top stations, by tag/genre and by country.</desc>
			<creator>hjelev</creator>
			<email>jeleff@gmail.com</email>
			<link>https://masoko.net/lyr-radio-browser/</link>
			<url>https://github.com/hjelev/lyr-radio-browser/releases/download/v0.1.4/RadioBrowser-0.1.4.zip</url>
			<sha>dba4581092d54bc375141d32520045039e7e874c</sha>
		</plugin>
	</plugins>
</extensions>
